@import "../Foundation/mixin";
.l-page-nav-left{
    width: auto;
    margin:8% 3.5% 10% 6.5% ;
    position: relative;
    @include mq(tab){
        margin: 20px;
    }
    
    h3{
        font-size: 5vw;
        color:#ffffff ;
        position: absolute;
        top: 10px;
        left: 10px;
    }
}