@import "../../Foundation/mixin";
.c-nav-toggle{
    z-index: 1000;
    position: absolute;
    left: calc(100% - 300px);
    top: 75px;
    color: #707070;
    h2{
        font-family:'mplus-1m-bold';
        font-size: 30px;
    }
    @include mq(tab){
        position: fixed;
        top: 10px;
        left: calc(100% - 90px);
      }
    span{
      display: none;
      width: 55px;
      height: 8px;
      top: 20px;
      position: absolute;
      background-color: #707070; 
      transform: rotate(45deg);
      &::before{
          display: block;
        content: "";
        width: 55px;
        height: 8px;
        background-color: #707070; 
        position: absolute;
        transform: rotate(90deg);
      }
    }  
}
@include mq(tab){
.is-open{
    .nsv-btn{
        display: none;
    }
    span{
        display: block;
        &::before{
            display: block;
        }
    }
}
}