.c-page-nav-taxt{
    background-color:#ffffffb2 ;
    width: 95%;
    margin: 2%;
    overflow: hidden;
    padding: 2%;
    color: #3C2A10;
    h4{
     font-size: 1.2vw; 
     margin: 2%;  
    }
    p{
        font-size:0.9vw ;
        margin: 2%;
        margin-bottom: 5%;
    }
}