.c-search-btn{
    width: 120px;
    height: 40px;
    background-color: #F2EDE9;
    border: 1px solid #999;
    border-radius:10px;
    color: #707070;
    &:hover{
        background-color:#a09e9c;
        
    }
}