.c-single-table{
    margin: 50px 0 60px 0;
    th{
        line-height: 72px;
        padding-left: 20px;
        color: #3C2A10;
    }
    .c-single-table-left{
        width: 30%;
        height: 72px;
    }
}