.c-single-btn{
    width: 425px;
    height: 100px;
    background-color: #F2EDE9;
    background: -webkit-gradient(linear, left top, left bottom, from(#F2EDE9), to(#bebbb9));
    background: -webkit-linear-gradient(top,  #F2EDE9 0%,  #bebbb9 100%);
    background: linear-gradient(to bottom, #F2EDE9 0%, #bebbb9 100%);
    border: 1px solid#707070;
    border-radius: 30px;
    color:#3C2A10;
}